{{!-- THIS IS WHERE TOU CAN EDIT THE TEXT ON THE HOME PAGE --}}

<p>multivocal is an art and research-based collective, concerned with exploring synthesized voices through both practical experiments and theoretical reflections. In this collective we strive to combine artistic practice with cultural theory, diversity studies,
	art history, design, and creative programming. We specifically focus on the suspensions that occur when having an exploratory approach in combination with systematic modes of production and evaluation.</p>
<br>
<p>We explore artistic strategies, challenging the notion of character and identity design for synthesized voices. Unfolding through panel disucssions, workshops, artworks, and perception testing </p>

<br>

<h2><span class="secondary-color">></span> Who are we</h2>

<h3>Alice Emily Baird</h3>
<p>Alice is a sound artist and researcher from the UK. She is currently a research assistant and Fellow at the Chair of Embedded Intelligence for Health Care and Wellbeing (EIHW) at Augsburg University, Germany.  Alice works across an array of disciplines, predominately exploring the intersections between scientific research and the arts, with particular focus on the human experience and perception of sound. Alice has shown work at venues including; Basilica Hudson (Hudson, NY, USA), Pioneer Works (New York, NY, USA), PACE (New York, NY, USA) and Parker Gallery (Whitechapel, London, UK). Alice recently completed her MFA in Sound Arts at Columbia University, New York City - where she was in residence at Columbia's Computer Music Centre.</p>
<br>

<h3>Frederik Tollund Juutilainen</h3>
<p>Frederik is a software developer and programmer from Copenhagen. He has a degree in philosophy and computer science from Roskilde University and now works in the development and programming of digital-/physical installations. Frederik works in interdisciplinary
	teams and in fields including, object-oriented and functional programming, machine learning, evolutionary algorithms, parametric design, audio design and programming of micro-controllers. Alongside his work he actively contributes to and publishes open-source
	software. Frederik is also a DJ celebrating creativity.</p>
<br>

<h3>Stina Hasse Jørgensen</h3>
<p>Stina is a PhD fellow at the Department of Arts and Cultural Studies, University of Copenhagen, where she is researching the politics and aesthetics of synthesized voices. Stina has published articles on art, technology and sound in magazines and journals. Stina is also a practitioner of interaction design and art with a focus on sound and technology. She has presented her work in places such as Den Frie Udstillingsbygning, NLHspace, DIAS - Digital Interactive Art Space, Wundergrund Festival, BEAM festival, Atelier Hotel Pro Forma, MIX Copenhagen, LAK festival.</p>
<br>

<h3>Mads Steensig Pelt</h3>
<p>Mads is a programmer residing in Copenhagen. He works with software architecture, infrastructure, operations and dev-ops. He has experience with a wide-array of platforms and web frameworks. In his spare time he is an avid collector of exotica
	music, and likes to work with sound/music, recording, and production.</p>
<br>

<h3>Nina Cecilie Højholdt</h3>
<p>Nina is an is interaction designer and developer from Copenhagen. She has a bachelor from the IT University and is currently on the last year of her Masters in Interaction Design at Malmö University. Futhermore, she is a part of a tech/art collective, building interactive installtions for museums, festivals, conferences and so on.
</p>

<br><br>
<h3><span class="secondary-color">></span> Friends of multivocal</h3>
<p>multivocal would not be possible without collaboration and support from other, researchers, artists, programmers, and just super nice people: <br>
	<p><a href="http://www.rensnak.dk/">Sabrina Vitting-Seerup</a> is a former marketing manager and current diversity researcher that uses both of her skill sets to help the Multivocal team.</p>
	<p><a href="behance.net/kaspernoerlund">Kasper Nørlund</a> is a designer, who created the multivocal logo.</p>
	<p><span class="bold">Adam Gilbert Jespersen</span> helped out at Roskilde Festival '17 and works with microphones and organs.</p> <br>
