{{!-- THIS IS WHERE TOU CAN EDIT THE TEXT ON THE HOME PAGE --}}

<p>find us on <a href="https://www.instagram.com/_multivocal/">instagram</a> and <a href="https://github.com/multivocal">github</a> </p>

<img src="http://www.uptownelectric.com/images/animated-email.gif" alt="" class="email-gif">
