{{!-- THIS IS WHERE TOU CAN EDIT THE TEXT ON THE HOME PAGE --}}

<p>find us on <a href="https://www.instagram.com/_multivocal/" target="_blank">instagram</a> and <a href="https://github.com/multivocal"  target="_blank">github</a> </p>
<br>
<p>or send us an email at <a href="mailto:nhoejholdt@gmail.com">nhoejholdt@gmail.com</a></p>
<a href="mailto:nhoejholdt@gmail.com"><img src="http://www.uptownelectric.com/images/animated-email.gif" alt="" class="email-gif"></a>
