$font-size-base: 14px;

$primary-font-color: #191919;

$primary-color: #fff;
$secondary-color: blue;


@mixin strikethrough($strike-color) {
    content: "";
    width: 130%;
    position: absolute;
    top: 50%;
    left: -15%;
    border: 1px solid $strike-color;
    cursor: pointer;
}